.DrawerToggle {
    width: 45px;
    height: 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 1280px) {
    .DrawerToggle {
        display: none;
    }
}